.bg-darkGreen, .btn-primary {
    background-color: #102410 !important;
}

body {
    background-color: #E0F4E0 !important;
    margin-bottom: 30px;
}

#main-nav .nav-item a{
    font-size: 20px;
    color: white !important;
}

#dictionary-nav .nav-item a {
    font-size: 20px;
    font-weight: bold;
    color: #304430 !important;
}

.card {
    margin-bottom: 2vh;
}

.hero {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-image: url("img/personPlayingPoker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.carousel-caption h5, .carousel-caption p{
    color: black;
    font-weight: bold;
}
.carousel-caption {
    background-color: rgba(0,0,0,0.1);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#hand-rankings-img {
    width: 100%;
    height: auto;
}

.section-header {
    color: #304430;
    border-bottom: 3px solid #304430;
    background-image: linear-gradient(to right, rgba(48,68,48,0.3) ,rgba(48,68,48,0.0));
    padding-left: 5px;
}

.definition {
    font-weight: bold;
    color: #304430;
}

.casino-info {
    border: 2px solid #304430;
}

.invalid {
    border-color: red !important;
}

#search-error {
    color: red;
}

.footer {
    width: 100%;    
    color: white;
    background-color: #102410;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}