.bg-darkGreen, .btn-primary {
    background-color: #102410 !important;
}

#main-nav .nav-item a{
    font-size: 20px;
    color: white !important;
}

#dictionary-nav .nav-item a {
    font-size: 20px;
    font-weight: bold;
    color: #304430 !important;
}
.card-img-top {
    object-fit: cover;
}

.hero {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-image: url("https://images.pexels.com/photos/1871508/pexels-photo-1871508.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.carousel-caption h5, .carousel-caption p{
    color: black;
    font-weight: bold;
}
.carousel-caption {
    background-color: rgba(0,0,0,0.1);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#hand-rankings-img {
    width: 100%;
    height: auto;
}

.dict-letter-header {
    color: #304430;
    border-bottom: 3px solid #304430;
    background-image: linear-gradient(to right, rgba(48,68,48,0.3) , white);
    padding-left: 5px;
}